* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

/* Container */
.container {
  max-width: 1265px;
  margin: 0 auto;
}

/* Header */
header > nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
}

header > nav > ul > li {
  cursor: pointer;
  font-weight: bold;
}
header > nav > ul > li:hover {
  color: #59958a;
  font-weight: bold;
}
header > nav > ul > li > a {
  color: inherit;
  text-decoration: none;
}
/* Blogs Card Styles */
.blogs {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
}
.blogCard {
  background-color: #f8f7f2;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.blogCard:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.blogCard .blogContents {
  padding: 20px;
}
.blogCard img {
  width: 100%;
  height: 200px;
  border-radius: rounded;
}
.blogCard .blogContents > h1 {
  font-size: 20px;
  margin-bottom: 5px;
}
.blogCard button {
  color: #59958a;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  font-size: 15px;
  float: right;
  cursor: pointer;
  padding: 5px 10px;
}
.blogCard button:hover {
  background-color: #59958a;
  color: white;
}

/* Dashboard Section */

.blogPostForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.blogPostForm input {
  width: 600px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
}
.blogPostForm button {
  margin-top: 20px;
  display: inline;
  padding: 10px 20px;
  background-color: #59958a;
  color: white;
  border: 5px solid transparent;
  cursor: pointer;
}
.blogPostForm button:hover {
  background-color: #fff;
  border: 5px solid #59958a;
  color: #59958a;
}
